.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
  color: blue;
}

#navigation {
  text-transform: uppercase;
  margin: 20px;
}

.landing-link {
  margin: 20px;
}

.song-list {
  text-align: center;
}

.card-img-top {
  width: 200px;
}

.row {
  float: left;
  width: 20%;
  padding: 0 10px;
}

.albumImg {
  width: 200px;
}

#album-cover-art {
  width: 200px;
}
